h1{
  text-align: center;
  font-size: 80pt;
  color: white;
}

body{
   background-image: url('https://cdn.pixabay.com/photo/2021/08/04/03/06/hanoi-6520941_960_720.jpg');
  font-size: 40pt;
  text-align: center;
  
}

.home{
  border: 3pt solid white;
  font-size: 20pt;
  color:White;
}
